<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Los Bala Perdia 🎡{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bulma.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="circle circle1"></div>
  <div class="circle circle2"></div>
  <div class="circle circle3"></div>

  {% block body %}{% endblock %}

  <script src="{{ url_for('static', filename='format.js') }}"></script>
  <script src="{{ url_for('static', filename='common.js') }}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
